:root {
  --c-light: #ffffff;
  --c-primary: #172b4d;
  --ff-base: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --fs-base: 14px;
  --lh-base: 16px;

  --s-s: 8px;
  --s-m: 16px;
  --s-l: 24px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--c-light);
  color: var(--c-primary);
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  line-height: var(--lh--base);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper--form {
  max-width: 600px;
  margin: 40px auto;
}

.container {
  width: 240px;
  padding: var(--s-m);
}

.button {
  display: inline-flex;
  font-weight: 500;
  max-width: 100%;
  text-decoration: none;
  white-space: nowrap;
  background: #0052cc;
  border-radius: 3px;
  box-shadow: transparent 0px 0px 0px 2px;
  color: var(--c-light);
  cursor: pointer;
  height: 2.28571em;
  line-height: 1;
  padding: 0px 8px;
  transition: background 0.1s ease-out 0s,
    box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  vertical-align: middle;
  width: auto;
  border: 0;
  margin: 0;
  outline: none;
  align-items: center;
  justify-content: center;
}

.button-group {
  display: flex;
}

.button-group button:first-child {
  margin-right: 4px;
}

.button-group button:last-child {
  margin-left: 4px;
}
button svg {
  margin-right: 8px;
}
button:hover {
  cursor: pointer;
  text-decoration: inherit;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 82, 204, 0.9);
  box-shadow: transparent 0px 0px 0px 2px;
}

button:focus {
  box-shadow: 0 0 0 2px #4c9aff;
}

small {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #172b4d;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  font-size: 12px;
  color: #6c798f;
}

input {
  height: 32px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #172b4d;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  background-color: #f4f5f7;
  border: 1px solid #dfe1e6;
  padding: 4px 7px 5px;
  border-radius: 3.01px;
  box-sizing: border-box;
  margin: 0;
  vertical-align: baseline;
  width: 100%;
}

.wrapper button {
  width: 100%;
  justify-content: center;
}

.company-info {
  padding-top: 0;
  margin: 0;
  font-size: 12px;
  color: #6c798f;
}

h1 {
  font-size: 14px;
  margin: 0;
  color: #000;
}

img {
  width: 100%;
  max-width: 16px;
  height: auto;
  float: left;
  margin-top: 2px;
  margin-right: 6px;
}

/* Form control */
.form-control {
  padding: var(--s-s) 0;
}

/* Form group */
.form-group {
  display: flex;
}

.form-group .input {
  flex: 1 auto;
}

.form-group .button {
  align-items: center;
  flex: 1;
  justify-content: center;
  margin-left: 8px;
}

.form-group svg {
  margin-right: 0;
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  border-top: 1px solid #f4f5f7;
}

#config {
  cursor: pointer;
}

.wrapper--form h1 {
  font-size: 26px;
  font-weight: 700;
}

.form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#messages {
  color: green;
  font-weight: 700;
}

.actions-config {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.actions-config svg {
  width: 80px;
  height: 80px;
  fill: #ccc;
  margin-bottom: 20px;
}
